In [1]:
import pandas as pd

In [3]:
# Load the CSV files
world_population = pd.read_csv('data/world_population.csv')
gdp_data = pd.read_csv('data/gdp_data.csv')

# Load and split the Summer Olympic Medals data
olympic_medals = pd.read_csv('data/Summer_olympic_Medals.xls', names=['Year', 'Host_country', 'Host_city', 'Country_Name', 'Country_Code', 'Gold', 'Silver', 'Bronze'])

In [4]:
# Merge world_population with gdp_data
population_gdp = pd.merge(world_population, gdp_data, left_on='CCA3', right_on='Code', how='inner')

In [6]:
# Ensure both 'Year' columns are of the same type (int64)
population_gdp['Year'] = population_gdp['Year'].astype(str)
olympic_medals['Year'] = olympic_medals['Year'].astype(str)

In [7]:
# Merge the resulting DataFrame with olympic_medals
merged_data = pd.merge(population_gdp, olympic_medals, left_on=['Country/Territory', 'Year'], right_on=['Country_Name', 'Year'], how='inner')

In [8]:
# Drop rows with any null values
cleaned_data = merged_data.dropna()

In [9]:
# Save the cleaned DataFrame to a new CSV file
cleaned_data.to_csv('data/merged_cleaned_data.csv', index=False)

In [10]:
cleaned_data.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,...,GDP-Growth,GDP-Per-Capita,GDP,Host_country,Host_city,Country_Name,Country_Code,Gold,Silver,Bronze
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,...,14.362441,543.303042,1.585657e+10,China,Beijing,Afghanistan,AFG,0,0,1
1,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,...,2.724543,583.656193,1.947707e+10,Great Britain,London,Afghanistan,AFG,0,0,1
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,0.400001,3848.903935,8.891888e+10,United States,Los Angeles,Algeria,ALG,0,0,2
3,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,-0.899997,3181.554306,8.976365e+10,Spain,Barcelona,Algeria,ALG,1,0,1
4,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,5.100004,3413.498658,1.030629e+11,United States,Atlanta,Algeria,ALG,2,0,1